
<aside class="sidebar">
    <div class="sidebar__pop-post sidebar-item">
        <p class="sidebar__pop-post-title">популярные посты</p>
        <ul class="sidebar__pop-post-list">
            <li class="sidebar__pop-post-item clearfix">
                <a href="#"></a>
                <img class="sidebar__pop-post-item-img" src="img/thrash/pop_post1.jpg" alt="" width="55" height="41" />
                <p class="sidebar__pop-post-item-title">I Love Donut Bonbon Cackes</p>
            </li>
            <li class="sidebar__pop-post-item clearfix">
                <a href="#"></a>
                <img class="sidebar__pop-post-item-img" src="img/thrash/pop_post2.jpg" alt="" width="55" height="41" />
                <p class="sidebar__pop-post-item-title">Candy fruitcake biscuit chupa chups</p>
            </li>
            <li class="sidebar__pop-post-item clearfix">
                <a href="#"></a>
                <img class="sidebar__pop-post-item-img" src="img/thrash/pop_post3.jpg" alt="" width="55" height="41" />
                <p class="sidebar__pop-post-item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur autem commodi delectus, esse facilis natus quis repellat unde velit.</p>
            </li>
            <li class="sidebar__pop-post-item clearfix">
                <a href="#"></a>
                <img class="sidebar__pop-post-item-img" src="img/thrash/pop_post4.jpg" alt="" width="55" height="41" />
                <p class="sidebar__pop-post-item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi debitis, delectus dolores eos exercitationem fugiat id itaque necessitatibus nemo odit possimus quam, quasi reiciendis rem repellat vero voluptas. A, ea.</p>
            </li>
            <li class="sidebar__pop-post-item clearfix">
                <a href="#"></a>
                <img class="sidebar__pop-post-item-img" src="img/thrash/pop_post5.jpg" alt="" width="55" height="41" />
                <p class="sidebar__pop-post-item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dignissimos dolore hic magnam rem! Aliquid aspernatur atque culpa dolores eius est facere impedit, iusto nobis odio possimus, quaerat repellat repellendus soluta tempora ullam voluptates! Eius exercitationem nihil numquam officiis pariatur.</p>
            </li>
            <li class="sidebar__pop-post-item clearfix">
                <a href="#"></a>
                <img class="sidebar__pop-post-item-img" src="img/thrash/pop_post6.jpg" alt="" width="55" height="41" />
                <p class="sidebar__pop-post-item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deleniti minima placeat, similique vel velit? Aliquid culpa cum, deserunt itaque odio placeat soluta veritatis. Doloremque dolores eaque error eum magni odio quisquam vel? Accusantium quos repudiandae tempore? Accusantium aspernatur, blanditiis delectus earum ipsum quam sunt veritatis voluptate. Esse magnam, ut?</p>
            </li>
        </ul>
    </div>
    <div class="sidebar-ad sidebar-item">
        <a href="#"><img src="img/thrash/banner1.jpg" alt="" /></a>
    </div>
    <div class="sidebar-ad sidebar-item">
        <a href="#"><img src="img/thrash/banner2.jpg" alt="" /></a>
    </div>
</aside>