    <footer class="footer">
        <div class="wrapper clearfix">
            <div class="footer__links clearfix fll">
                <ul class="footer__links-list">
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Advisors</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Missions</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Raids</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Prison of Elders</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Weekly PVP</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Xur</a>
                    </li>
                </ul>
                <ul class="footer__links-list">
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Новости</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">События</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Анонсы</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">TTK</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Weekly Update</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Xur</a>
                    </li>
                </ul>
                <ul class="footer__links-list">
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Подкаст</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Стримы</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Гайды</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Вселенная</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Weekly PVP</a>
                    </li>
                    <li class="footer__links-item">
                        <a href="#" class="footer__links-item-link">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="footer__contacts flr">
                <ul class="footer__social-list clearfix">
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-item-link">
                            <i class="fa fa-vk"></i>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-item-link">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-item-link">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-item-link">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-item-link">
                            <i class="fa fa-twitch"></i>
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a href="#" class="footer__social-item-link">
                            <i class="fa fa-apple"></i>
                        </a>
                    </li>
                </ul>
                <a href="mailto:vulgaris@gjallarhorn.ru" class="footer__mail">vulgaris@gjallarhorn.ru</a>
                <p class="footer__copyright">&copy; 2015 | Типичный Галлахорн</p>
            </div>
        </div>
    </footer>
</body>
</html>