<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lolgal</title>
    <meta name="vewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" />
</head>
<body>
    <header class="header">
        <div class="wrapper header__wrapper">
            <div class="header__logo header__block">.тг</div>
            <ul class="header__menu header__block">
                <li class="header__menu-item"><a href="#" class="header__menu-link header__menu-link--active">advisors</a></li>
                <li class="header__menu-item"><a href="#" class="header__menu-link">новости</a></li>
                <li class="header__menu-item"><a href="#" class="header__menu-link">подскаст</a></li>
                <li class="header__menu-item"><a href="#" class="header__menu-link">стримы</a></li>
                <li class="header__menu-item"><a href="#" class="header__menu-link">гайды</a></li>
                <li class="header__menu-item"><a href="#" class="header__menu-link">вселенная</a></li>
                <li class="header__menu-item"><a href="#" class="header__menu-link">контакты</a></li>
            </ul>
            <a href="#" class="header__auth header__block"></a>
        </div>
    </header>