/* BEBAS */

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/bebas/BebasNeueLight.eot');
  src: url('../fonts/bebas/BebasNeueLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/bebas/BebasNeueLight.otf')  format('opentype'),
  url('../fonts/bebas/BebasNeueLight.woff') format('woff'), url('../fonts/bebas/BebasNeueLight.ttf')  format('truetype'), url('../fonts/bebas/BebasNeueLight.svg#../fonts/bebas/BebasNeueLight') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/bebas/BebasNeueBook.eot');
  src: url('../fonts/bebas/BebasNeueBook.eot?#iefix') format('embedded-opentype'),  url('../fonts/bebas/BebasNeueBook.otf')  format('opentype'),
  url('../fonts/bebas/BebasNeueBook.woff') format('woff'), url('../fonts/bebas/BebasNeueBook.ttf')  format('truetype'), url('../fonts/bebas/BebasNeueBook.svg#../fonts/bebas/BebasNeueBook') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/bebas/BebasNeueRegular.eot');
  src: url('../fonts/bebas/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/bebas/BebasNeueRegular.otf')  format('opentype'),
  url('../fonts/bebas/BebasNeueRegular.woff') format('woff'), url('../fonts/bebas/BebasNeueRegular.ttf')  format('truetype'), url('../fonts/bebas/BebasNeueRegular.svg#../fonts/bebas/BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/bebas/BebasNeueBold.eot');
  src: url('../fonts/bebas/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/bebas/BebasNeueBold.otf')  format('opentype'),
  url('../fonts/bebas/BebasNeueBold.woff') format('woff'), url('../fonts/bebas/BebasNeueBold.ttf')  format('truetype'), url('../fonts/bebas/BebasNeueBold.svg#../fonts/bebas/BebasNeueBold') format('svg');
  font-weight: bold;
  font-style: normal;
}