/*
* Variables
*/

// Dimensions
$phone: 320px;
$fablet: 580px;
$tablet: 768px;
$desktop: 980px;
$large: 1280px;

//Fonts
$size-big: 72px;
$size-1: 48px;
$size-2: 36px;
$size-3: 30px;
$size-4: 24px;
$size-5: 18px;
$size-content: 14px;

// Colors
$black: #333333;
$white: #ffffff;
$grey-dark: #464646;
$grey-middle: #676767;

// BG colors
$bg-black: #252222;
$bg-green: #65ba99;
$bg-red: #e2534b;
$bg-footer: #3d3d48;
$bg-light-grey: #e3e3e3;

// Button colors
$button-green: #1abc9c;
$button-green-hover: #1dcfac;
$button-green-active: #0aaf8e;
$button-green-disabled: #1abc9c;
$button-green-shadow: #0e8c73;
$button-green-hover-shadow: #0f9e82;
$button-green-active-shadow: #07856c;
$button-green-disabled-shadow: #0e8c73;

$button-red: #e74c3c;
$button-red-hover: #e75b4d;
$button-red-active: #e03d2c;
$button-red-disabled: #e75b4d;
$button-red-shadow: #bf2c1d;
$button-red-hover-shadow: #c33f31;
$button-red-active-shadow: #b92111;
$button-red-disabled-shadow: #c33f31;

$button-blue: #3498db;
$button-blue-hover: #46a2df;
$button-blue-active: #1e89d0;
$button-blue-disabled: #3498db;
$button-blue-shadow: #1469a2;
$button-blue-hover-shadow: #2976a9;
$button-blue-active-shadow: #0a629d;
$button-blue-disabled-shadow: #2976a9;

$button-light-grey: #bdc3c7;
$button-light-grey-hover: #ccd2d6;
$button-light-grey-active: #afb5b8;
$button-light-grey-disabled: #d3d9dd;
$button-light-grey-shadow: #99a5ad;
$button-light-grey-hover-shadow: #abb7bf;
$button-light-grey-active-shadow: #8b969d;
$button-light-grey-disabled-shadow: #bcc8d0;

$button-deep-grey: #252222;
$button-deep-grey-hover: #413b3b;
$button-deep-grey-active: #1a1818;
$button-deep-grey-shadow: #000;
$button-deep-grey-hover-shadow: #292929;

$button-yellow: #f3fb74;
$button-yellow-hover: #f3ff34;
$button-yellow-active: #f5ff53;

// Link colors
$link-yellow: #f9ffa0;
$link-yellow-hover: #f3ff34;
$link-yellow-active: #f6fe78;
$link-yellow-disabled: #afb5b8;

$link-black: #333;
$link-black-hover: #585858;
$link-black-active: #2b2b2b;

// Social share colors
$social-red: #e2534b;
$social-red-hover: #eb6a63;
$social-red-active: #de372d;

// Image paths
$imgPath: "../img/";

/* Mixins */
@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $fablet - 1) {
      @content;
    }
  } @else if $media == fablet {
    @media only screen and (max-width: $tablet - 1) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: $desktop - 1) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (max-width: $large - 1) {
      @content;
    }
  } @else if $media == large {
    @media only screen and (max-width: $large) {
      @content;
    }
  } @else if $media == retina {
    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
      @content;
    }
  }
}

html, body,
h1, h2, h3, h4, h5, p,
input, button,
ul, ol {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  font-size: 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.clearfix {
  &:before,
  &:after {
    content:'';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.full-block-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.link-yellow {
  color: $link-yellow;
  text-decoration: none;
  -webkit-transition: color ease-in-out .1s;
  -moz-transition: color ease-in-out .1s;
  -ms-transition: color ease-in-out .1s;
  -o-transition: color ease-in-out .1s;
  transition: color ease-in-out .1s;
  
  &:hover {
    color: $link-yellow-hover;
  }
  &:active {
    color: $link-yellow-active;
  }
}