.header {
  height: 100px;
  background-color: $bg-header;
  font-family: 'Bebas';
}

.header__wrapper {
//  display: table;
  line-height: 100px;
}

.header__block {
//  display: table-cell;
  vertical-align: middle;
  line-height: 1.2;
  display: inline-block;
}

.header__logo {
  width: 40px;
  line-height: 1;
  color: $white;
  font-size: $size-1;
  font-weight: bold;
  margin-right: 40px;
}

.header__menu-item {
  color: $white;
  font-size: $size-4;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0 10px;
  line-height: 28px;

  &:last-child {
    margin-right: 0;
  }
}

.header__menu-link {
  text-decoration: none;
  vertical-align: middle;
  font-weight: normal;
  font-size: 24px;
  color: $white;

  &:hover,
  &:active {
    color: $link-yellow;
    font-size: 28px;
  }
}

.header__menu-link--active {
  color: $bg-green;
}