.header {
  height: 100px;
  background-color: $bg-black;
  font-family: 'Bebas';

  .wrapper {
    background-color: $bg-black;
  }
}

.header__block {
//  display: table-cell;
  height: 100px;
  line-height: 100px;
  display: inline-block;
  vertical-align: top;
}

.header__logo {
//  width: 40px;
//  height: 38px;
//  line-height: 1;
  color: $white;
  font-size: $size-1;
  font-weight: bold;
  margin-right: 40px;
}

.header__menu-item {
  width: 100px;
  height: 30px;
  color: $white;
  font-size: $size-4;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
  line-height: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.header__menu-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 24px;
  color: $white;
  -webkit-transition: font-size ease-in-out .1s;
  -moz-transition: font-size ease-in-out .1s;
  -ms-transition: font-size ease-in-out .1s;
  -o-transition: font-size ease-in-out .1s;
  transition: font-size ease-in-out .1s;

  &:hover,
  &:active {
    color: $link-yellow;
    font-size: 28px;
  }
}

.header__menu-link--active {
  color: $bg-green;
}

.header__auth {
  font-size: 24px;
  line-height: 100px;
  float: right;
}