.feature {
  background-color: $bg-green;

  .wrapper{
    background-color: $bg-green;
  }
}

.feature__xur {
  height: 100px;
  position: relative;
  background-image: url($imgPath + 'xur_bg_full.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.feature__xur-block {
  @include vertical-middle-absolute;
  font-family: bebas;

  p {
    line-height: 1;
  }
}

.feature__xur-timer-desc,
.feature__xur-hint {
  font-size: $size-4;
}

.feature__xur-timer {
  color: $white;
  left: 360px;
}

.feature__xur-hint {
  color: $link-yellow;
  left: 690px;
  height: 43px;
  line-height: 50px;
  padding-left: 54px;
  background-image: url($imgPath + 'compass.png');
  background-repeat: no-repeat;
}

.feature__xur-timer-countdown {
  font-size: $size-2;
  padding-left: 23px;
  position: relative;

  &:before {
    content: '\f017';
    font-family: FontAwesome;
    font-size: $size-5;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.feature__xur-item-list {
  right: 0;
}

.feature__xur-item {
  float: left;
  margin-right: 12px;
}

.countdown-section {
  padding-right: 10px;
}

.feature__items {
  height: 880px;
}

.feature__content {
  width: 960px;
  height: 100%;
  overflow: hidden;
  background-color: $bg-light-grey;
}

.feature__widget {
  width: 320px;
  background-color: $bg-black;
}

.feature__slider {
  height: 300px;
  width: 100%;

  .fotorama__nav-wrap {
    background-color: $grey-dark;
  }

  .fotorama__nav,
  .fotorama__nav__shaft,
  .fotorama__nav-wrap,
  .fotorama__nav__frame {
    height: 10px;
  }

  .fotorama__nav__shaft {
    width: 100%;
  }

  .fotorama__nav__frame {
    background-color: $grey-dark;
    border-right: 2px solid $bg-light-grey;
    width: 33.3%;

    &:last-child {
      border: 0;
    }

    &.fotorama__active {
      background-color: $button-yellow;
      border: 0;
    }
  }
}

.feature__slider-item {
  position: relative;
  
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .24);
    z-index: 1;
  }
}

.feature__slider-text-block {
  @include vertical-middle-absolute;
  z-index: 2;
  left: 55px;
}

.feature__slider-title,
.feature__slider-desc {
  font-family: bebas;
  color: $white;
}

.feature__slider-title {
  font-size: $size-big;
  line-height: .75;
}

.feature__slider-desc {
  font-size: $size-4;
}

.feature__slider-buttons {
  @include vertical-middle-absolute;
  right: 85px;
  z-index: 999;
}

.feature__slider-buttons-item {
  display: block;
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature__content-item {
  overflow: hidden;
}

.feature__content-news {
  height: 300px;
}

.feature__content-news-img {
  width: 320px;
}

.feature__content-news-text {
  width: 640px;
  box-sizing: border-box;
  padding: 25px 30px 17px;
  line-height: 1;
}

.feature__content-news-timestamp,
.feature__content-news-author {
  font-family: bebas;
  font-size: $size-5;
}

.feature__content-news-timestamp {
  margin-bottom: 2px;
}

.feature__content-news-title {
  height: 58px;
  overflow: hidden;
  display: block;
  font-size: $size-2;
  font-weight: normal;
  line-height: .85;
  padding-top: 2px;

  a {
    text-decoration: none;
    color: $black;
  }
}

.feature__content-news-author {
  margin-top: 3px;
  margin-bottom: 20px;

  span {
    padding-left: 5px;
  }
}

.feature__content-news-lead {
  height: 81px;
  margin-bottom: 35px;
  overflow: hidden;
}

.feature__content-news-meta-readmore {
  font-family: bebas;
  font-size: $size-5;
  text-decoration: none;
  position: relative;
  padding-right: 20px;
  display: block;
  float: left;

  &:after {
    content: "\f061";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: -3px;
  }
}

.feature__content-podcast {
  background-color: $grey-middle;
  height: 280px;
}

.feature__content-news-meta-tag-list,
.feature__content-news-meta-comments {
  float: right;
}

.feature__content-news-meta-comments {
  font-size: $size-5;
}

.feature__content-news-meta-tag-list {
  width: 200px;
  text-align: right;
  margin-right: 25px;
}

.feature__content-news-meta-tag-list-item a {
  font-size: $size-5;
}

.timeline__tag-list-item {

  &:first-child:before {
    display: none;
  }

  a {
    font-size: $size-4;
  }

}

.feature__content-news-meta-tag-list-icon {
  margin-right: 5px;
}

.feature__content-podcast-text {
  @extend .feature__content-news-text;
  padding: 40px 30px 0;
  position: relative;
}

.feature__content-podcast-title {
  font-size: $size-1;

  a {
    text-decoration: none;
  }
}

.feature__content-podcast-lead {
  color: $white;
}

.feature__content-podcast-lead {
  width: 350px;
}

.feature__content-podcast-link {
  position: absolute;
  height: 38px;
  top: 40px;
  right: 30px;
}

.feature__content-podcast-link-item {
  width: 38px;
  height: 38px;
  margin-right: 8px;
  display: block;
  float: left;
  background-image: url($imgPath + 'icons/podcast_icons.png');
  background-repeat: no-repeat;

  &:last-child {
    margin-right: 0;
  }
}

.feature__content-podcast-link-youtube {
  background-position: 0 0;

  @include respond-to(retina){
    @include podcast-retina-icons;
    background-image: url($imgPath + 'icons/podcast_youtube.png');
  }

  &:hover {
    background-position: 0 -42px;

    @include respond-to(retina){
      @include podcast-retina-icons;
      background-image: url($imgPath + 'icons/podcast_youtube_hover.png');
    }
  }

  &:active {
    background-position: 0 -85px;

    @include respond-to(retina){
      @include podcast-retina-icons;
      background-image: url($imgPath + 'icons/podcast_youtube_active.png');
    }
  }
}

.feature__content-podcast-link-podster {
  background-position: -46px 0;

  @include respond-to(retina){
    @include podcast-retina-icons;
    background-image: url($imgPath + 'icons/podcast_podster.png');
  }

  &:hover {
    background-position: -46px -42px;

    @include respond-to(retina){
      @include podcast-retina-icons;
      background-image: url($imgPath + 'icons/podcast_podster_hover.png');
    }
  }

  &:active {
    background-position: -46px -85px;

    @include respond-to(retina){
      @include podcast-retina-icons;
      background-image: url($imgPath + 'icons/podcast_podster_active.png');
    }
  }
}

.feature__content-podcast-link-itunes {
  background-position: -92px 0;

  @include respond-to(retina){
    @include podcast-retina-icons;
    background-image: url($imgPath + 'icons/podcast_itunes.png');
  }

  &:hover {
    background-position: -92px -42px;

    @include respond-to(retina){
      @include podcast-retina-icons;
      background-image: url($imgPath + 'icons/podcast_itunes_hover.png');
    }
  }

  &:active {
    background-position: -92px -85px;

    @include respond-to(retina){
      @include podcast-retina-icons;
      background-image: url($imgPath + 'icons/podcast_itunes_active.png');
    }
  }
}

.feature__content-podcast-img {
  position: relative;
  width: 320px;
  height: 280px;
}

.flip-container {
  perspective: 1000;
  transform-style: preserve-3d;
}

.flip-container.flip .feature__content-podcast-img-back {
  transform: rotateY(0deg);
}
.flip-container.flip .feature__content-podcast-img-front {
  transform: rotateY(-180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.feature__content-podcast-img-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.feature__content-podcast-img-back {
  transform: rotateY(180deg);
}

.feature__content-podcast-img-front,
.feature__content-podcast-img-back{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.feature__content-podcast-trigger {
  position: absolute;
  top: 17px;
  right: 16px;
  font-size: $size-5;
  font-family: bebas;
  padding-right: 32px;
  z-index: 10;
  
  &:after {
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    font-size: $size-4;
  }
}

.feature__content-podcast-trigger-front {
  &:after {
    content: '\f06e';
    top: -6px;
  }
}

.feature__content-podcast-img-back {
  background-color: $bg-light-grey;
}

.feature__content-podcast-trigger-back {
  color: $grey-middle;

  &:after {
    content: '\f00d';
    top: -5px;
  }
}

.feature__content-podcast-playlist {
  padding: 55px 20px 20px;
  font-family: bebas;
  font-size: $size-5;
  overflow: hidden;
  height: 260px;
  box-sizing: border-box;
}

.feature__content-podcast-playlist-item {
  padding: 12px 0 10px;
  border-bottom: 1px solid #d3d5de;

  &:last-child {
    border-bottom: 0;
  }
}

.feature__content-podcast-playlist-item-date {
  &:after {
    content: ' | '
  }
}

.feature__content-podcast-playlist-item-time {
  &:after {
    content: ' - '
  }
}

.feature__content-podcast-playlist-item-like {
  margin-right: 14px;
  color: $grey-middle;

  &.feature__content-podcast-playlist-item-like--active {
    color: #ed5e74;
  }
}

.feature__content-podcast-playlist-item-play {
  margin-right: 14px;
  color: $grey-middle;
}

.feature__widget {
  background-color: $bg-black;
  color: $white;
  font-family: roboto;
  overflow: hidden;
  width: 320px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.feature__widget-char-img {
  margin-right: 15px;
}

.feature__widget-char-class {
  font-size: 30px;
  font-family: bebas;
  padding-top: 5px;
  line-height: .7;

  &:after {
    content: ', ' attr(data-lvl);
  }
}

.feature__widget-char-race {
  text-transform: capitalize;
  font-size: $size-5;
}

.feature__widget-char-select {
  display: block;
  clear: both;
  margin-top: 10px;
  margin-bottom: 20px;
}

.feature__widget-char-select-item {
  background-color: $grey-dark;
  display: inline-block;
  width: 31%;
  height: 8px;
  margin-left: 2%;
  box-sizing: border-box;

  &:first-child {
    margin-left: 0;
  }

  &.feature__widget-char-select-item--active {
    background-color: $button-yellow;
  }
}

.feature__widget-activity-block {
  padding-left: 60px;
  background-repeat: no-repeat;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature__widget-activity-block-title,
.feature__widget-activity-title {
  font-family: bebas;
  font-size: $size-4;
}

.feature__widget-activity-title {
  margin-bottom: 20px;
}

.feature__widget-activity-block-name {
  text-transform: capitalize;
}

.feature__widget-activity-block-name,
.feature__widget-activity-block-modifier-list {
  font-size: $size-content;
}

.feature__widget-activity-block-modifier-list {
  &:before {
    content: '> ';
  }
}

.feature__widget-activity-block-modifier-item {
  display: inline-block;
  text-transform: capitalize;

  &:after {
    content: ',';
  }

  &:last-child:after {
    content: '';
  }
}

.feature__widget-activity-block--nightfall {
  background-image: url($imgPath + 'icons/nightfall_icon.png');
}

.feature__widget-activity-block--heroic-strike {
  background-image: url($imgPath + 'icons/heroic_strike_icon.png');
}

.feature__widget-activity-block--daily-story {
  background-image: url($imgPath + 'icons/daily_story_icon.png');
}

.feature__widget-activity-block--daily-crusible {
  background-image: url($imgPath + 'icons/daily_crusible_icon.png');
  background-position: 12px 0;
}

.feature__widget-activity-block--raid {
  background-image: url($imgPath + 'icons/raid_icon.png');
}

.feature__widget-activity-block--forever-eater {
  background-image: url($imgPath + 'icons/forever_eater_icon.png');
}

.feature__widget-activity-block--machine-wrath {
  background-image: url($imgPath + 'icons/machine_wrath_icon.png');
}

.feature__widget-activity-block--skolas {
  background-image: url($imgPath + 'icons/skolas_revenge_icon.png');
}

.feature__widget-activity--done {
  color: #f9fea8;

  .feature__widget-activity-block-title {
    &:before {
      content: '\f046';
      font-family: FontAwesome;
      font-size: $size-5;
      margin-right: 5px;
    }
  }
}

.feature__widget-activity-block--raid {
  min-height: 50px;
}

.feature__widget-activity-raid-progress {
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature__widget-activity-raid-lvl,
.feature__widget-activity-raid-progressbar {
  display: inline-block;
}

.feature__widget-activity-raid-lvl {
  text-transform: capitalize;
}

.feature__widget-activity-raid-progressbar {
  margin-left: 5px;
}

.feature__widget-activity-raid-progressbar-item {
  width: 30px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  background-color: $grey-dark;

  &:last-child {
    margin-right: 0;
  }
}

.feature__widget-activity-raid-progressbar-item--active {
  background-color: $button-yellow;
  -webkit-transition: all ease-in-out .1s;
  -moz-transition: all ease-in-out .1s;
  -ms-transition: all ease-in-out .1s;
  -o-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
}

.feature__widget-link-button {
  color: $bg-black;
  font-family: bebas;
  font-size: $size-4;
  text-align: center;
  background-color: $button-yellow;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-decoration: none;
  padding: 10px 0 5px;
  
  &:hover {
    background-color: $button-yellow-hover;
  }
  
  &:active {
    background-color: $button-yellow-active;
  }
}

.timeline-head {
  background-color: $white;
  padding: 40px 0 30px;

  .wrapper {
    background-color: $white;
  }
}

.timeline__date-list-item {
  float: left;
  width: 100px;
  margin-left: 40px;
  line-height: 28px;
  text-align: center;

  &.timeline__date-list-item--active {
    a {
      font-size: 30px;
    }
  }

  a {
    -webkit-transition: all ease-in-out .1s;
    -moz-transition: all ease-in-out .1s;
    -ms-transition: all ease-in-out .1s;
    -o-transition: all ease-in-out .1s;
    transition: all ease-in-out .1s;
    text-decoration: none;
    font-family: bebas;
    font-size: $size-4;
    color: $black;
    
    &:hover {
      font-size: 28px;
      color: $black;
    }

    &:active {
      color: $link-black-hover;
    }
  }
}

.timeline__tag-list {
  margin-right: 20px;
}

.timeline__tag-list-item {
  a {
    font-size: $size-4;
  }
}

.timeline-content {
  background-image: url($imgPath + 'timeline_bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 1090px;
  overflow-y: scroll;
  position: relative;
  padding: 0;
}

.timeline__item {
  position: relative;
  float: left;
  clear: left;
  width: 46%;
  min-height: 170px;
  margin-top: 20px;
  margin-right: 2%;
  margin-left: 0;
  margin-bottom: 20px;
  list-style-type: none;
  display: block;
  background-color: $white;
  z-index: 15;
  text-decoration: none;

  &:first-of-type {
    margin-top: 50px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    right: -10px;
    border-top: 10px solid transparent;
    border-left: 10px solid $white;
    border-bottom: 10px solid transparent;
  }

  &:after {
    content: attr(data-date);
    display: block;
    font-family: bebas;
    font-size: 30px;
    height: 66px;
    width: 66px;
    border-radius: 50%;
    position: absolute;
    right: -85px;
    top: 25px;
    background-color: $white;
    text-align: center;
    line-height: 73px;
  }
}

.timeline__item:nth-of-type(2n) {
  float: right;
  clear: right;
  margin-top: 40px;
  margin-left: 2%;
  margin-right: 0;

  .timeline__item-content {
    padding-left: 18px;
  }

  .timeline__item-img {
    float: right;
  }
}

.timeline__item:nth-of-type(2) {
  margin-top: 150px;
}

.timeline__item:nth-child(2n) {
  &:before {
    content: '';
    border-top: 10px solid transparent;
    border-right: 10px solid $white;
    border-left: 0;
    right: auto;
    left: -10px;
    border-bottom: 10px solid transparent;
  }

  &:after {
    left: -84px;
    right: auto;
    //  top: 50%;
  }
}

.timeline__item-img {
  float: left;
  width: 45%;
  -webkit-background-size: cover;
  background-size: cover;
}

.timeline__item-content {
  float: left;
  width: 55%;
  box-sizing: border-box;
  padding: 20px 15px 20px 10px;
}

.timeline__item-timestamp,
.timeline__item-author {
  @extend .feature__content-news-timestamp;
  margin: 0;
}

.timeline__item-title {
  @extend .feature__content-news-title;
  height: auto;
}

.timeline__item-meta {
  margin-top: 50px;
}

.timeline__item-comments {
  font-size: $size-5;
}

.timeline__item-taglist {
  padding-left: 20px;
  
  li:first-child:before {
    font-size: 15px;
    left: -20px;
  }
  
  a {
    font-size: $size-5;
  }
}

.timeline-line {
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: $bg-light-grey;
}