.feature {
  background-color: $bg-green;

  .wrapper {
    background-color: $bg-green;
  }
}

.feature__xur {
  height: 100px;
  position: relative;
  background-image: url($imgPath + 'xur_bg_full.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.feature__xur-block {
  @include vertical-middle-absolute;
  font-family: bebas;

  p {
    line-height: 1;
  }
}

.feature__xur-timer-desc,
.feature__xur-hint {
  font-size: $size-4;
}

.feature__xur-timer {
  color: $white;
  left: 360px;
}

.feature__xur-hint {
  color: $link-yellow;
  left: 690px;
  height: 43px;
  line-height: 50px;
  padding-left: 54px;
  background-image: url($imgPath + 'compass.png');
  background-repeat: no-repeat;
}

.feature__xur-timer-countdown {
  font-size: $size-2;
  padding-left: 23px;
  position: relative;

  &:before {
    content: '\f017';
    font-family: FontAwesome;
    font-size: $size-5;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.feature__xur-item-list {
  right: 0;
}

.feature__xur-item {
  float: left;
  margin-right: 12px;
}

.countdown-section {
  padding-right: 10px;
}

.feature__items {
  height: 880px;
}

.feature__content {
  width: 960px;
  height: 100%;
  overflow: hidden;
  background-color: $white;
}

.feature__widget {
  width: 320px;
  background-color: $bg-black;
  color: $white;
  font-family: roboto;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  position: relative;

  .fotorama__nav-wrap {
    position: absolute;
    top: 50px;
    z-index: 999;
  }

  .fotorama__nav--dots {
    height: 33px;
  }

  .fotorama__nav__shaft {
    width: 100%;
  }

  .fotorama__nav__frame--dot {
    width: 30%;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  .fotorama__dot {
    background-color: #464646;
    width: 100%;
    height: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0;
  }

  .fotorama__active .fotorama__dot {
    width: 100%;
    height: 10px;
    background-color: $button-yellow;
  }
}

.feature__slider {
  height: 300px;
  width: 100%;

  .fotorama__nav-wrap {
    background-color: $grey-dark;
  }

  .fotorama__nav,
  .fotorama__nav__shaft,
  .fotorama__nav-wrap,
  .fotorama__nav__frame {
    height: 10px;
  }

  .fotorama__nav__shaft {
    width: 100%;
  }

  .fotorama__nav__frame {
    background-color: $grey-dark;
    border-right: 2px solid $bg-light-grey;
    width: 33.3%;

    &:last-child {
      border: 0;
    }

    &.fotorama__active {
      background-color: $button-yellow;
      border: 0;
    }
  }
}

.feature__slider-item {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .24);
    z-index: 1;
  }
}

.feature__slider-text-block {
  @include vertical-middle-absolute;
  z-index: 2;
  left: 55px;
}

.feature__slider-title,
.feature__slider-desc {
  font-family: bebas;
  color: $white;
}

.feature__slider-title {
  font-size: $size-big;
  line-height: .75;
}

.feature__slider-desc {
  font-size: $size-4;
}

.feature__slider-buttons {
  @include vertical-middle-absolute;
  right: 85px;
  z-index: 999;
}

.feature__slider-buttons-item {
  display: block;
  margin-bottom: 11px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature__content-item {
  overflow: hidden;
}

.feature__content-news {
  height: 300px;
  
  &:last-child {
    background-color: $bg-light-grey;
  }
}

.feature__content-news-img {
  width: 320px;
}

.feature__content-news-text {
  width: 640px;
  box-sizing: border-box;
  padding: 25px 30px 17px;
  line-height: 1;
}

.feature__content-news-timestamp,
.feature__content-news-author {
  font-family: bebas;
  font-size: $size-5;
}

.feature__content-news-timestamp {
  margin-bottom: 2px;
}

.feature__content-news-title {
  height: 58px;
  overflow: hidden;
  display: block;
  font-size: $size-2;
  font-weight: normal;
  line-height: .85;
  padding-top: 2px;

  a {
    text-decoration: none;
    color: $black;
  }
}

.feature__content-news-author {
  margin-top: 3px;
  margin-bottom: 20px;

  span {
    padding-left: 5px;
  }
}

.feature__content-news-lead {
  height: 110px;
  margin-bottom: 35px;
  overflow: hidden;
}

.feature__content-news-meta-readmore {
  font-family: bebas;
  font-size: $size-5;
  text-decoration: none;
  position: relative;
  padding-right: 20px;
  display: block;
  float: left;

  &:after {
    content: "\f061";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    right: 0;
    top: -3px;
  }
}

.feature__content-news-meta-tag-list,
.feature__content-news-meta-comments {
  float: right;
}

.feature__content-news-meta-comments {
  font-size: $size-5;
}

.feature__content-news-meta-tag-list {
  width: 200px;
  text-align: right;
  margin-right: 25px;
}

.feature__content-news-meta-tag-list-item a {
  font-size: $size-5;
}

.timeline__tag-list-item {

  &:first-child:before {
    display: none;
  }

  a {
    font-size: $size-4;
  }

}

.feature__content-news-meta-tag-list-icon {
  margin-right: 5px;
}

.feature__widget-char {
  margin-bottom: 40px;
}

.feature__widget-char-list {
  height: 100%;
  padding: 0 20px;
}

.feature__widget-char-img {
  margin-right: 15px;
}

.feature__widget-char-class {
  font-size: 30px;
  font-family: bebas;
  padding-top: 5px;
  line-height: .7;

  &:after {
    content: ', ' attr(data-lvl);
  }
}

.feature__widget-char-race {
  text-transform: capitalize;
  font-size: $size-5;
}

.feature__widget-activity-block {
  padding-left: 60px;
  background-repeat: no-repeat;
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature__widget-activity-block-title,
.feature__widget-activity-title {
  font-family: bebas;
  font-size: $size-4;
}

.feature__widget-activity-title {
  margin-bottom: 10px;
}

.feature__widget-activity-block-name {
  text-transform: capitalize;
}

.feature__widget-activity-block-name,
.feature__widget-activity-block-modifier-list {
  font-size: $size-content;
}

.feature__widget-activity-block-modifier-list {
  &:before {
    content: '> ';
  }
}

.feature__widget-activity-block-modifier-item {
  display: inline-block;
  text-transform: capitalize;

  &:after {
    content: ',';
  }

  &:last-child:after {
    content: '';
  }
}

.feature__widget-activity-block--nightfall {
  background-image: url($imgPath + 'icons/nightfall_icon.png');
}

.feature__widget-activity-block--heroic-strike {
  background-image: url($imgPath + 'icons/heroic_strike_icon.png');
}

.feature__widget-activity-block--daily-story {
  background-image: url($imgPath + 'icons/daily_story_icon.png');
}

.feature__widget-activity-block--daily-crusible {
  background-image: url($imgPath + 'icons/daily_crusible_icon.png');
  background-position: 12px 0;
}

.feature__widget-activity-block--raid {
  background-image: url($imgPath + 'icons/raid_icon.png');
}

.feature__widget-activity-block--forever-eater {
  background-image: url($imgPath + 'icons/forever_eater_icon.png');
}

.feature__widget-activity-block--machine-wrath {
  background-image: url($imgPath + 'icons/machine_wrath_icon.png');
}

.feature__widget-activity-block--skolas {
  background-image: url($imgPath + 'icons/skolas_revenge_icon.png');
}

.feature__widget-activity--done {
  color: #f9fea8;

  .feature__widget-activity-block-title {
    &:before {
      content: '\f046';
      font-family: FontAwesome;
      font-size: $size-5;
      margin-right: 5px;
    }
  }
}

.feature__widget-activity-block--raid {
  min-height: 50px;
}

.feature__widget-activity-raid-progress {
  margin-bottom: 2px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feature__widget-activity-raid-lvl,
.feature__widget-activity-raid-progressbar {
  display: inline-block;
}

.feature__widget-activity-raid-lvl {
  text-transform: capitalize;
}

.feature__widget-activity-raid-progressbar {
  margin-left: 5px;
}

.feature__widget-activity-raid-progressbar-item {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 2px;
  background-color: $grey-dark;

  &:last-child {
    margin-right: 0;
  }
}

.feature__widget-activity-raid-progressbar-item--active {
  background-color: $button-yellow;
  -webkit-transition: all ease-in-out .1s;
  -moz-transition: all ease-in-out .1s;
  -ms-transition: all ease-in-out .1s;
  -o-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;
}

.timeline-head {
  background-color: $white;
  padding: 30px 0;

  .wrapper {
    background-color: $white;
  }
}

.timeline__tag-list {
  margin-right: 20px;
}

.timeline__tag-list-item {
  a {
    font-size: $size-4;
  }
}

.timeline-content {
  background-image: url($imgPath + 'timeline_bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.mCSB_scrollTools .mCSB_draggerContainer {
  top: 10px;
  bottom: 10px;
}

.timeline__item {
  position: relative;
  float: left;
  clear: left;
  width: 46%;
  margin-top: 20px;
  margin-right: 2%;
  margin-left: 0;
  margin-bottom: 20px;
  list-style-type: none;
  display: block;
  background-color: $white;
  z-index: 15;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  text-decoration: none;

  &:first-of-type {
    margin-top: 50px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    right: -10px;
    border-top: 10px solid transparent;
    border-left: 10px solid $white;
    border-bottom: 10px solid transparent;
  }

  &:after {
    content: attr(data-date);
    display: block;
    font-family: bebas;
    font-size: 30px;
    height: 66px;
    width: 66px;
    border-radius: 50%;
    position: absolute;
    right: -85px;
    top: 25px;
    background-color: $white;
    text-align: center;
    line-height: 73px;
  }

  &:hover {
    .timeline__item-img-link {
      background-color: rgba($bg-green, .6);
      box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
    }
  }

  .timeline__item-meta {
    right: 20px;
  }
}

.timeline__item:nth-of-type(2n) {
  float: right;
  clear: right;
  margin-top: 40px;
  margin-left: 2%;
  margin-right: 0;

  .timeline__item-content {
    padding-left: 18px;
  }

  .timeline__item-img {
    float: right;
  }

  .timeline__item-meta {
    left: 20px;
  }
}

.timeline__item:nth-of-type(2) {
  margin-top: 150px;
}

.timeline__item:nth-child(2n) {
  &:before {
    content: '';
    border-top: 10px solid transparent;
    border-right: 10px solid $white;
    border-left: 0;
    right: auto;
    left: -10px;
    border-bottom: 10px solid transparent;
  }

  &:after {
    left: -84px;
    right: auto;
  }
}

.timeline__item-img-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.timeline__item-img {
  float: left;
  width: 43%;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
}

.timeline__item-content {
  float: left;
  width: 57%;
  box-sizing: border-box;
  padding: 20px 15px 70px 20px;
}

.timeline__item-timestamp,
.timeline__item-author {
  @extend .feature__content-news-timestamp;
  margin: 0;
}

.timeline__item-title {
  @extend .feature__content-news-title;
  height: auto;
  max-height: 87px;
  overflow: hidden;
}

.timeline__item-meta {
  position: absolute;
  bottom: 20px;
  width: 50%;
}

.timeline__item-comments {
  font-size: $size-5;
}

.timeline__item-taglist {
  padding-left: 20px;

  li:first-child:before {
    font-size: 15px;
    left: -20px;
  }

  a {
    font-size: $size-5;
  }
}

.timeline-line {
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: $bg-light-grey;
}

.about {
  background-color: $bg-red;
  padding-top: 50px;
  padding-bottom: 60px;
  position: relative;

  .wrapper {
    background-color: $bg-red;
  }
}

.about__title {
  color: $white;
  font-family: bebas;
  font-size: $size-1;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.about__content {
  width: 900px;
  margin: 0 auto;
}

.about__content-col {
  float: left;
  width: 45%;
  margin-right: 5%;
  box-sizing: border-box;

  &:last-child {
    padding-left: 5%;
    margin-right: 0;
  }
}

.about__founders-col {
  width: 180px;
  float: left;
  box-sizing: border-box;
  margin-bottom: 50px;

  &:last-child {
    margin-left: 40px;
  }
}

.about__founders-title {
  font-family: bebas;
  text-align: center;
  font-size: $size-4;
  line-height: .8;
  color: $white;
  margin-bottom: 10px;
}

.about__founders-img {
  margin-bottom: 30px;
}

.about__founders-social-link {
  width: 34px;
  height: 34px;
  display: inline-block;
  background-color: $white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 34px;
  text-align: center;
  font-size: 20px;
  color: $black;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.about__team-title {
  font-family: bebas;
  font-size: $size-4;
  color: $white;
  margin-bottom: 5px;
}

.about__team-list {
  margin-bottom: 20px;
  font-size: $size-5;
  color: $white;
  line-height: 1.2;
}

.about__contact {
  font-family: bebas;
  color: $white;
  font-size: $size-4;
  margin-top: 43px;
}

.about__desc {
  padding-top: 15px;
}

.about__desc-title {
  font-family: bebas;
  font-size: $size-4;
  color: $white;
  margin-bottom: 10px;
  line-height: 1;
}

.about__desc-text {
  font-size: $size-5;
  color: $white;
  margin-bottom: 30px;
  line-height: 1;
}

.feature__widget-advisors {
  height: 50px;
  background-color: $button-yellow;
  margin-bottom: 20px;
}

.feature__widget-advisors-link {
  display: block;
  float: left;
  height: 50px;
  width: 260px;
  box-sizing: border-box;
  line-height: 55px;
  padding: 0 10px;
  color: $black;
  font-family: bebas;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid #aeb362;
}

.feature__widget-advisors-logout {
  display: block;
  float: left;
  height: 50px;
  font-size: 18px;
  width: 60px;
  text-align: center;
  line-height: 50px;
  color: $black;
}

.feature__widget-login-id {
  position: relative;

  &:before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f007';
    font-size: 18px;
    top: 15px;
    left: 34px;
  }

  input {
    width: 100%;
    display: block;
    border: 0;
    margin: 0;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    padding-left: 60px;
    padding-right: 10px;
    font-size: 14px;
    color: #c4c4c4;
    background-color: #484848;
  }
}

.feature__widget-login-platform-item {
  float: left;
  width: 33%;
  text-align: center;
  height: 45px;
  line-height: 45px;
  text-transform: uppercase;
  border-right: 1px solid #484848;
  border-bottom: 1px solid #484848;
  color: #a5a5a5;
  cursor: pointer;
  -webkit-transition: all ease-in-out .1s;
  -moz-transition: all ease-in-out .1s;
  -ms-transition: all ease-in-out .1s;
  -o-transition: all ease-in-out .1s;
  transition: all ease-in-out .1s;

  &:last-child {
    border-right: 0;
  }
}

.feature__widget-login-xbox {
  &.feature__widget-login-platform-item--active {
    background-color: #7eb900;
    color: $white;
  }

  &:hover {
    background-color: #7eb900;
    color: $white;
  }
}

.feature__widget-login-psn {
  &.feature__widget-login-platform-item--active {
    background-color: #013990;
    color: $white;
  }

  &:hover {
    background-color: #013990;
    color: $white;
  }
}

.feature__widget-login-form-submit {
  color: $black;
  font-size: 20px;
  font-family: bebas;
  display: block;
  height: 44px;
  line-height: 49px;
  text-align: center;
  width: 100%;
  border: 0;
}

.timeline-head__item {
  font-family: bebas;
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 0 10px;
  overflow: hidden;
  position: relative;
}

.timeline-head__item-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.timeline-head__item-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  float: left;

  img {
    width: 100%;
  }
}

.timeline-head__item-content {
  line-height: 1;
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}

.timeline-head__item-date {
  font-size: $size-5;
}

.timeline-footer {
  height: 50px;
  line-height: 55px;
  font-family: bebas;
  font-size: $size-5;
  text-align: center;
}