.podcast-item {
  margin-bottom: 20px;
}

.podcast-teaser-item {
  padding: 0;
}

.podcast-teaser-item__player {
  position: relative;

  img {
    width: 100%;
  }
}

.podcast-teaser-item__player-text-block {
  position: absolute;
  top: 50px;
  left: 60px;
  color: $white;
}

.podcast-teaser-item__player-title {
  font-size: $size-big;
  font-weight: normal;
  line-height: 53px;
}

.podcast-teaser-item__player-desc,
.podcast-teaser-item__player-timestamp {
  font-size: $size-4;
  font-family: bebas;
  line-height: 1;
}

.podcast-teaser-item__player-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.podcast-teaser-item__player-play-button {
  width: 80px;
  height: 80px;
  color: $white;
  text-align: center;
  line-height: 80px;
  text-decoration: none;
  background-color: rgba($white, .24);
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  &:after {
    content: '\f04b';
    font-family: FontAwesome;
    font-size: $size-1;
    margin-left: 5px;
  }
}

.podcast-teaser-item__content {
  padding: 45px 60px 30px;
  background-image: url($imgPath + 'microphone.png');
  background-repeat: no-repeat;
  background-position: 95% 55px;
}

.podcast-teaser-item__text,
.podcast-teaser-item__link-list {
  float: left;
}

.podcast-teaser-item__text {
  width: 510px;
  margin-right: 125px;
}

.podcast-teaser-item__text-paragraph {
  line-height: 1.3;
  color: #3d3d3d;
  margin-bottom: 25px;
}

.podcast-teaser-item__text-list {
  margin-bottom: 60px;
}

.podcast-teaser-item__text-list-item {
  margin-bottom: 3px;

  &:before {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 5px;
  }
}

.podcast-teaser-item__link-list-item {
  margin-bottom: 5px;

  a {
    font-family: bebas;
    font-size: $size-5;
    padding-left: 25px;
    position: relative;
    
    &:before {
      font-family: FontAwesome;
      font-size: 14px;
      position: absolute;
      left: 0;
      top: 1px;
      display: block;
      width: 14px;
      height: 13px;
      text-align: center;
    }
  }
}

.podcast-teaser-item__link-list-item-youtube {
  &:before {
    content: '\f16a';
  }
}

.podcast-teaser-item__link-list-item-podster {
  &:before {
    content: '';
    background-image: url($imgPath + 'icons/podcast_podster_black.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &:hover {
    &:before {
      background-position: 0 -13px;
    }
  }
}

.podcast-teaser-item__link-list-item-vk {
  &:before {
    content: '\f189';
    top: 0 !important;
  }
}

.podcast-teaser-item__link-list-item-itunes {
  &:before {
    content: '\f179';
    top: 0 !important;
  }
}

.podcast-item__meta-share,
.podcast-item__meta-comments {
  font-size: $size-5;

  &:before {
    font-size: 14px;
    top: 0;
    left: 0;
  }
}

.podcast-item__meta-share {
  margin-right: 25px;
}

.podcast-teaser-item__meta {
  margin-bottom: 40px;
}

.podcast-teaser-item__subtitle {
  font-size: 28px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
}